.App {
  text-align: center;
  background-color: #00000849;
}

.tarea{
  float: left;
  margin-left: 1%;
}

.tareaheading {
  background-color: black;
  color: white;
}

.column {
  display: flexbox;
}

.view{
  margin-top: 20px;
  height: 1000px;
}